*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --font-familiy: 'Advent Pro';

}

body{
    font-family: var(--font-familiy);
}

/* ---- REUSABLE STYLES ---- */

h2{
    font-size: 40px;
    font-weight: 600;
}

p{
    margin-top: 1rem;
    font-size: 20px;
}

/* ---- HEADER ---- */

header{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border: 2px solid black;
    background-color: grey;
    height: 100px;
}

/* ---- HERO ---- */

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ---- personal ---- */

.personal{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    border: 2px solid black;
    height: calc(350px + 4rem);
    width: 1140px;
}

.personal-container{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 52%;
}

/* ---- information ---- */

.information{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    border: 2px solid black;
    width: 1140px;
}

.experience{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    width: 20%;
}

.contact,
.experience,
.projects{
    background-color: orange;
}

#btn-start-animation{
    border-radius: 5px;
    padding: 10px;
    font-family: var(--font-familiy);
}

.contact-info{
    display: flex;
    flex-direction: column;
}

.resume,
.contact-info > img{
    margin: 1rem;
    height: 40px;
}

.image-container{
    border: 2px solid #000;
    background-color: #000;
    width: 44%;
}


/* ---- projects ---- */

.projects{
    position: relative;
    margin: 1rem;
    min-height: 610px;
    width: 100%;
    
}

.projects-info {
    position: absolute;
    left: 60vh;
    top: 0;
    visibility: hidden;
    transition: left 0.9s ease;
    display: flex;
}

.projects-info > span {
    opacity: 0;
    transition: opacity 1s ease-in;
    visibility: hidden;
    margin-left: 5px;
    margin-right: 0;
    width: 110px;
}

.projects-info > button{
    border: 2px solid black;
    border-radius: 16px;
    overflow: hidden;
    height: 200px;
    width: 150px;
    cursor: pointer;
}

.projImg{
    width: auto;
    height: 100%;
    background-color: #000;
}

button > img{
    opacity: 0.85;
    height: auto;
    width: 100%;
    transform: scale(1.15);
    transition: transform 0.5s;
}

button > img:hover{
    transform: scale(1);
    opacity: 1;
}